{% extends 'base.html' %}
{% block content %}
<h2>Salas Cadastradas</h2>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Capacidade</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for sala in salas %}
        <tr>
            <td>{{ sala.id_sala }}</td>
            <td>{{ sala.nome_sala }}</td>
            <td>{{ sala.cap_pessoas }}</td>
            <td>{{ sala.status_disp }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
